.clear {
  clear: both;
}

.hanyu-xg dt {
  padding: 10px 15px;
  color: #999999;
  font-size: 18px;
}

.hanyu-xg dt .iconfont {
  padding-right: 5px;
  font-size: 20px;
}

.hanyu-xg dt .mui-pull-right a {
  color: #333333;
  font-size: 14px;
}

.hanyu-xg-list {
  padding: 10px;
  background: #ffffff;
}

.hanyu-xg-list li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 5px;
}

.hanyu-xg-list li a {
  display: block;
  padding: 5px 0;
  color: #333333;
}

.hanyu-xg-list li img {
  width: 80%;
  max-width: 80%;
  height: auto;
}

/*2017-12-28*/
.mui-header {
  background: #751012;
}

.mui-header .mui-title {
  color: #bb8962;
}

.mui-header .mui-icon {
  color: #bb8962;
}

.hanyu-xg-list {
  padding: 10px;
  background: #f1e9d4;
}

.hanyu-xg1 dt {
  color: #382b1f;
}

.hanyu-xg1 dt .iconfont {
  color: #b98551;
}

.hanyu-xg-list1 li a {
  color: #b98551;
}