.slide-fade {
//   position: absolute;
//   left: 0;
//   right: 0;
}
.slide-fade-enter-active {
    position: fixed;
    width: 100%;
    height: 100%;

//   transition: all .2s ease;
transition: all .8s cubic-bezier(.55,0,.1,1);
}
.slide-fade-leave-active {
    
    // transition: all .8s ease;
    transition: all .8s cubic-bezier(.55,0,.1,1);
}
.slide-fade-enter{

    transform: translateX(20px);
    opacity: 0.5;
}
.slide-fade-leave-to {
    // z-index: 100;
    position: fixed;
  left: 1050px;
//   right: 0;
//   transform: translateX(20px);
//   opacity: 0;
//   height: 100%;
}
